nav ul li {
  display: block;
  margin: 15px;
  color: black;
}

nav ul li a {
  border: 15px;
  border-radius: 5px;
}

.active {
  color: rgb(252, 34, 0);
}

nav ul li a:not(.active):hover {
  color: rgb(93, 0, 255);
}
