.active {
  color: rgb(255, 132, 0);
  text-decoration: underline;
}

nav ul li a:not(.active):hover {
  color: blue;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.25rem;
  cursor: pointer;
}

.menu span {
  height: 0.2rem;
  width: 100%;
  background-color: #000;
  border-radius: 0.1rem;
}

@media (min-width: 640px) {
  .menu {
    display: none !important; /* override any base CSS */
  }
}
