.btn{
    border-radius: 10px;
    width: 50px;
    padding: 2px;
    background: rgb(74, 74, 255);
    color: white;
}

.btn:hover{
    background-color: rgb(5, 142, 255);
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(5, 142, 255, 0.6);
}